[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6"


[packages]

channels-redis = "*"
django = "*"
channels = "*"
python-dotenv = "*"
django-redis = "*"
celery = "*"
"psycopg2" = "*"
python-dateutil = "*"
arrow = "*"
djangorestframework = "*"
"django-rest-framework-social-oauth2" = "*"
django-filter = "*"
django-rest-swagger = "*"
django-jet = "*"
django-health-check = "*"
django-stdimage = "*"
pillow = "*"
django-cors-headers = "*"


[dev-packages]

pytest = "*"
pytest-asyncio = "*"
pytest-django = {git = "https://github.com/gradam/pytest-django.git", ref = "3.1.2.2", editable = true}
faker = "*"
django-extensions = "*"
django-debug-toolbar = "*"
ptpython = "*"
isort = "*"
