[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

channels-redis = "*"
Django = "*"
channels = "*"
python-dotenv = "*"
django-redis = "*"
celery = "*"
"psycopg2-binary" = "*"
python-dateutil = "*"
arrow = "*"
djangorestframework = "*"
"django-rest-framework-social-oauth2" = "*"
django-filter = "*"
django-rest-swagger = "*"
django-jet = "*"
django-health-check = "*"
django-stdimage = "*"
Pillow = "*"
pytest = "*"
pytest-django = {git = "https://github.com/gradam/pytest-django.git", editable = true, ref = "3.1.2.2"}
Faker = "*"


[dev-packages]
isort = "*"
ptpython = "*"
django-debug-toolbar = "*"
django-extensions = "*"

